.app {
  text-align: center;  
}

.app-header {  
  display: flex;
  flex-direction: column;
  align-items:center;  
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.app-body {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-footer {
  border-top: solid 1px;    
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}