.user-section-container {
    position: fixed;
    top: 10px;
    right: 10px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.user-section-container > * {
    margin-left: 10px;
}