.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container-column {
    display: flex;
    flex-direction: row;
}

.flex-container-button-slot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/* 
.flex-container-item > div {
    margin: 10px;
} */

.margin-top-10 {
    margin-top: 10px;
}

.DialogLogin-btn {
    margin-right: 10px;
}


.dialogbox-flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.fill-green {
    background-color: lightgreen;
}

.fill-blue {
    background-color: lightskyblue;
}

.fill-red {
    background-color: lightcoral;
}