.new-note-dialog-body {
    display: flex;
    flex-direction: column;
}

/* .login-dialog-label {
    margin-right: 5px;
} */

.new-note-dialog-input {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;    
}

.new-note-dialog-input > * {
    margin-left: 5px;
}

.new-note-dialog-button-section {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
}

.new-note-dialog-button {
    margin-right: 10px;
}
